@charset "UTF-8";

:root {
    --fundo: linear-gradient(to bottom, #2E1B0F, #8B5E3C); /* Fundo geral */
    --blue-color: #13F0F3; /* Cinza escuro */
    --magenta-color:#EE005C;
    --yellow-color: #FAFF2B; /* Marrom escuro */

}

section.itens-container{
    display: flex;
    flex-flow: column nowrap;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 80vh;
    
}

section.itens-container.item1{
    background: linear-gradient(to right, #002c2e, #0f1b1f, #002c2e);
}

section.itens-container.item2{
    background: linear-gradient(to right, #0a0a0a, #282f31, #0a0a0a);
}

section.itens-container.item3{
    background: linear-gradient(to right, #2d2e00, #15180b, #2b2e00);
}

div.itens-child{
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    justify-content: center;
    height: 100%;
    width: 95%;
}
.section-img {
   display: flex;
    align-items: center;
    justify-content: center;
    background-position: center center;
    background-size: cover;
    width: 350px;
    height: 220px;
    border-radius: 15px;
}
.section-img.img1{
    background-image: url(../images/logo-shoes2.png);
    background-position: 100% 45% ;
    box-shadow: 0px 0px 10px 10px #13eff38f;
}
.section-img.img2{
    background-image: url(../images/logo-pants.png);
    background-position: 100% 35% ;
    box-shadow: 0px 0px 10px 10px #000000a2;
}
.section-img.img3{
    background-image: url(../images/logo-shirt2.png);
    background-position: 100% 25% ;
    box-shadow: 0px 0px 10px 10px #d4d800e1;
}

.section-img h1{  
    font-family: 'grafite';
    font-size: 100px;
    font-weight: lighter;
}
.section-img.img1 h1{
    color: #aff6ff;
    text-shadow: 4px 4px 5px #9dfff794;
    
} 
.section-img.img2 h1{
    background: linear-gradient(135deg, #E0E0E0, #A0A0A0, #F0F0F0, #707070);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 1px 1px 5px #ffffff2d;
}

.section-img.img3 h1{
    color: var(--yellow-color);
    text-shadow: 4px 4px 5px #54550694;
}

.imganditem-cell{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 400px;
}
.section-text{
    display: flex;
    text-align: center;
    justify-items: center;
    width: 50%;
    height: 400px;
}
.section-text.p1 p{
    color: #d7feff;
}

.section-text.p2 p{
    color: #ffffff;
}

.section-text.p3 p{
    color: #feffbc;
}

.section-text p{
    color: #d7feff;
    font-weight: 700;
    font-family: cinzel,Arial, Helvetica, sans-serif;
    text-align: center;
}
.projects-father{
    display: flex;
    flex-flow: row nowrap;
    height: 80vh;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.projects-father.p1{
    background-image: linear-gradient(to right bottom,#042b2c,#021111,#0a0a0a);
    box-shadow: inset 0px 0px 5px #0000009f;
}
.projects-father.p2{
    background: linear-gradient(to right bottom, #0a0a0a, #131718, #2d2e00);
    box-shadow: inset 0px 0px 5px #00000023;
}
.projects-father.p3{
    background-image: linear-gradient(to right bottom,#2d2e00, #15180b,#9e0069a2);
    box-shadow: inset 0px 0px 2px #00000023;
}


section.projects-container{
    display: flex;
    align-items: center;
    height: 400px;
    width: 500px;
    overflow: auto; /*to be able the side scroll*/
    white-space: nowrap;
}
.wrapper{
    display: flex;
    width: max-content;
    gap: 15px;
    padding: 15px;
    scroll-behavior: smooth;
}
a.products{
    display: flex; /*important to make the scrolling*/
    flex-flow: column nowrap;
    height: 350px;
    width: 250px;
    background-image: linear-gradient(to right bottom, #EE005C, var(--yellow-color), var(--blue-color));
    text-align: center;
    border-radius: 5px;
    flex-shrink: 0;
    border-radius: 30px;
    border: inherit; /*img inherits (herda) the border radius of the father */
   /* overflow: hidden;avoid the image across the <a>*/
}
a.products img{
    object-fit: cover; /*img do not change*/
    height: auto;
    width: 250px;
    border-top-left-radius: 28px; 
    border-top-right-radius: 28px;
}
div.products-text{
    display: flex;
    justify-content: flex-start;
    flex-flow: column nowrap;
    gap: 15px;
    width: 100%;
    height: auto;
    padding: 5px;
}

div.products-text p{
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 100;
    text-align: center;
    white-space: normal;
}

div.products-text p.price{
    font-weight: 900;
}

.shop {
    position: fixed; 
    bottom: 30px; 
    left: 50%; 
    transform: translateX(-50%); 
    width: 200px;
    padding: 15px;
    font-size: 16px;
    font-weight: 700;
    border: none;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.shop:hover {
    background: linear-gradient(to right, orange,rgb(51, 255, 0),yellow);
}

footer{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
    height: 60vh;
    width: 100%;
    background-image: linear-gradient(to left bottom,#9e0069a2, #080005,#46002ea2);
    color: white;
}

#footer-links-container{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    width: 100%;
    gap: 20px;
    font-size: 15px;
}

#footer-links-container h1{
    font-size: 20px;
    font-weight: 700;
}

#footer-links-container a{
    font-size: 14px;
    word-wrap: normal;
    font-weight: 100;
}

#footer-links-container a:hover{
    text-decoration: underline;
    color: #13F0F3;
    transition: 0.3s ease-in;
}

.footer-links{
    display: flex;
    flex-flow: column nowrap;
    gap: 30px;
}


#copycontact{
    margin-bottom:  40px;
}